.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: darkgray;
}

.slide-image {
  width: 100%;
}

.slide-image:hover {
  cursor: pointer;
  opacity: .7;
}

.vimeo-player {
  height: 100%;
}

.vimeo-player > div {
  padding: 0 !important;
  height: 100%;
}
